*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  height: 100%;
}

body{
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  background-color: #04111B;

  color: #fff;
}

.App{
  margin: 0 auto;
  height: 100vh;
  width: 60%;
  min-width: 360;
}

/* header */

header{
  padding: 10px 10px 10px;
  min-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img{
  width: 60px;
  margin-right: 5px;
}

nav a{
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

nav a:hover{
  color: orange;
}

/* workouts */

.workouts-body{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workouts-body button{
  width: 40%;
  min-width: 150px;
  height: 25px;
}

.workout-form{
  padding: 10px;
  width: 300px;
  height: 400px;
  background-color: #04111B;
  border: 1px solid orange;
  border-radius: 2px;
  z-index: 10;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.workout-form h3{
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid orange;
}

.workout-form div{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.workout-form button{
  margin: 0 auto;
  margin-top: 5px;
  width: 70%;
}

.workouts{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout{
  position: relative;
  margin: 5px 0;
  padding: 10px;
  width: 70%;
  min-width: 360px;
  border-left: 1px solid orange;
}

.workout h2{
  max-width: 50%;
  overflow: hidden;
}

.workout p{
  max-width: 50%;
  overflow: hidden;
}

.workout:hover{
  border-left: 5px solid orange;
  transition: 300ms;
}

.workout button{
  width: 90px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 35px;
  font-size: medium;
}

#updateBtn{
  top: 10px;
}

#updateBtn:hover{
  color: orange;
}

.workout button:hover{
  color: red;
}

/* btns */
button{
  color: #04111B;
  border: none;
  border-radius: 5px;
  background-color: #ffa500;
  font-size: larger;
  cursor: pointer;
}

button:hover{
  background-color: #fff;
}

.authen{
  margin: 0 auto;
  padding: 10px;
  margin-top: 40px;
  width: 300px;
  height: 350px;
  background-color: rgb(255, 255, 255, .2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.authen div{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

input{
  padding: 0 5px;
  height: 25px;
  border: none;
  border-radius: 2px;
}

.authen button{
  width: 50%;
  height: 25px;
  position: absolute;
  bottom: 35px;
}

.authen div a{
  color: rgb(52, 140, 255);
}

.authen div a:hover{
  color: rgb(255, 255, 255);
}

.landing-page{
  width: 100%;
  height: 350px;
  position: relative;

}

.landing-page h1{
  width: 100%;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-page img{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-div{
  display: flex;
  justify-content: center;
}

.landingPage-btn{
  margin-top: 20px;
  width: 150px;
}

@media screen and (max-width: 600px) {

  .App{
    width: 90%;
    min-width: 0;
  }

  /* header */
  header{
    min-width: 0;
  }

  .logo img{
    width: 40px;
  }

  .logo h1{
    font-size: 20px;
  }

  .authen{
    width: 250px;
    height: 350px;
  }

  .landing-page{
    height: 300px;
  }

  .landing-page h1{
    font-size: 20px;
  }
  
  .landing-page img{
    width: 200px;
  }

  .landingPage-btn{
    margin-top: 0;
  }

  .workout{
    width: 90%;
    min-width: 0;
  }

  .workout button{
    width: 70px;
    font-size: small;
  }

  .workout h2{
    font-size: 20px;
  }

  .workout p{
    font-size: 15px;
  }

  .workout-form{
    width: 60%;
    min-width: 240px;
    height: 350px;
  }

}